html,
body {
    height: 100vh;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    background-color: #2e2e43;
    color: #a9bcbf
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.gridRow {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.gridBox {
    flex: 1;
    border: 3px solid #2e2e43 ;
}

.boxFilled {
    background-color: #4a4b5b
}

.changeGridSize {
    display: flex;
    gap: 20px;
}

.changeGridSizeInput {
    background-color: #2e2e43;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px solid #fcfbf3;
    color: #a9bcbf;
    width: 30px;
    text-align: center;
}

.changeGridSizeButton {
    background-color: #aaeeea;
    color: #4a4b5b;
    border: 1px solid #7fbbdc;
    border-radius: 5px;   
}

button.changeGridSizeButton:active {
    background-color: #7fbbdc;
}

button.changeGridSizeButton:hover {
    cursor: pointer;
}

.changeGridSizeButon:active {
    background-color: #7fbbdc;
}

input:focus {
    outline: none;
    border: 1px solid #fcfbf3; 
}
